.App {
  text-align: center;
}


/*Start from tutorial CSS*/

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.black-square {
  background: black;
}

.square {
  background: white;
}

.square, .black-square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.black-square:focus {
  outline: none;
}

.square:focus {
  background: #dddddd;
  /*caret-color: transparent;*/
  outline: none;
}

.square::selection, .black-square::selection {
  background: transparent;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/*End from tutorial CSS*/